@import "../../sytles/index.scss";

.ltb-button {
  border-radius: $border-radius;
  border: none;
  font-weight: 500;
  @include flex-center;
  position: relative;
  overflow: hidden;
  color: #fff;
  @include transition();
  box-shadow: var(--shadow-elevation-low);
  cursor: pointer;

  &::after {
    content: "";
    @include transition();
  }

  &:hover {
    box-shadow: var(--shadow-elevation-low-medium);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  font-size: 0.8rem;
  padding: 0.3em 0.8em;
  font-weight: 500;
  &__small {
    font-size: 0.7em;
  }
  &__large {
    font-size: 0.9em;
  }

  &__label {
    font-size: 1em;
  }
  &__icon {
    @include flex-center;

    &__left {
      margin-right: 0.5em;
    }
    &__right {
      margin-left: 0.5em;
    }
    svg {
      @include size(1.3em);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &__with-loader:disabled {
    opacity: 1;
  }
  &__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    @include flex-center;
    border-radius: 0.3rem;

    svg {
      color: #fff;
    }
  }

  &__only-icon {
    padding: 0.2em 0.4em;
    .ltb-button__icon {
      margin: 0;
    }
  }

  &__only-label {
    min-width: 4.5em;
  }

  &__outlined {
    &.ltb-button {
      @include transition();
      background: transparent;
      color: $primary-color;
      outline: 1px solid $primary-color;
      outline-offset: -1px;
      box-shadow: none;
    }
  }
  &__with-loader {
    border: none !important;
  }
}

@each $key, $val in $button-colors {
  $hue: nth(nth($val, 1), 1);
  $sat: nth(nth($val, 1), 2);
  $lig: nth(nth($val, 1), 3);
  .ltb-button__#{$key} {
    @include gradient-bg($hue, $sat, $key);
    color: nth($val, 3);
    &.ltb-button__outlined {
      .ltb-loader svg {
        color: nth($val, 3);
      }
      color: nth($val, 2);
      outline-color: nth($val, 2);
      &:not(.ltb-button__with-loader):hover {
        color: nth($val, 3);
        outline: none;
        box-shadow: var(--shadow-elevation-low-medium);
      }
    }
    &:not(.ltb-button__with-loader):hover {
      @include gradient-bg($hue, $sat, $key, 1);

      &::after {
        box-shadow: inset 0 0 10px hsl($hue 72% 21% / 30%);
      }
    }
  }
}
