@import "../../sytles/index.scss";

.ltb-button {
  border-radius: $border-radius;
  border: none;
  font-weight: 500;
  @include flex-center;
  position: relative;
  overflow: hidden;
  color: #fff;

  transition: all 0.2s linear;

  box-shadow: var(--shadow-elevation-low);

  &__warning {
    color: $muted-font-color;
  }
  &__muted {
    color: $primary-font-color;
  }

  &::after {
    content: "";
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    box-shadow: var(--shadow-elevation-medium);
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include gradient-bg(0, "muted", 1);
    }
  }

  font-size: 0.8rem;
  padding: 0.3em 0.8em;
  font-weight: 500;
  &__small {
    font-size: 0.7em;
  }
  &__large {
    font-size: 0.9em;
  }

  &__label {
    font-size: 1em;
  }
  &__icon {
    @include flex-center;

    &__left {
      margin-right: 0.5em;
    }
    &__right {
      margin-left: 0.5em;
    }
    svg {
      @include size(1.3em);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__with-loader {
    &:disabled {
      opacity: 1;
    }
  }
  &__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    @include flex-center;
    border-radius: 0.3rem;

    svg {
      color: #fff;
    }
  }

  &__only-icon {
    padding: 0.2em 0.4em;
    .ltb-button {
      &__icon {
        margin: 0;
      }
    }
  }

  &__outlined {
    background-image: none;
    background-color: transparent;
    &.ltb-button {
      color: $primary-color;
      border: 1px solid $primary-color;
      box-shadow: none;
      &__success {
        color: $success-color;
        border-color: $success-color;
      }
      &__danger {
        color: $danger-color;
        border-color: $danger-color;
      }
      &__warning {
        color: $warning-color;
        border-color: $warning-color;
      }
      &__muted {
        color: $primary-font-color;
        border-color: $primary-font-color;
      }
    }
  }
}

@each $key, $val in $button-colors {
  .ltb-button__#{$key} {
    @include gradient-bg(nth(nth($val, 1), 1), $key);
    // outline-color: rgba(nth($val, 2), 0.3);
    color: nth($val, 3);
  }
}
