@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin selected-gradient($color1, $color2, $color3) {
  background-image: radial-gradient(
    ellipse 85% 70% at 50% 80%,
    $color1,
    $color2 55%,
    $color3
  );
}
@mixin size($height, $width: 0) {
  height: $height;
  @if $width != 0 {
    width: $width;
  } @else {
    width: $height;
  }
}

@mixin gradient-bg($hue: 0, $sat, $type: "primary", $hover: 0) {
  $grad-color-1: hsla($hue, $sat, 49%, 0.6);
  $grad-color-2: hsla($hue, $sat, 49%, 0);
  background: linear-gradient(90deg, $grad-color-1, $grad-color-2 33%),
    linear-gradient(135deg, $grad-color-1 33%, $grad-color-2 70%),
    linear-gradient(180deg, $grad-color-1 70%, $grad-color-2 94%),
    linear-gradient(225deg, $grad-color-1 33%, $grad-color-2 73%),
    linear-gradient(270deg, $grad-color-1, $grad-color-2 33%),
    linear-gradient(
      0deg,
      hsla($hue, $sat, 65%, 0.75) 6%,
      rgba($hue, 100, 167, 0) 70%
    );
}

@mixin transition($transitionFxn: ease-in-out, $duration: $transition-duration ) {
  transition: all $duration $transitionFxn;
}
