$primary-color: #1492e6;
$danger-color: #e02929;
$warning-color: #eed03c;
$success-color: #1dbf29;
$background-color: #ebeff3;

$primary-font-color: #000;
$muted-font-color: #585858;

$card-color: #fff;

$gradient-primary: (#a6d3ff, #4393e0, #2278cb);
$gradient-success: (#9bffa2, #3cc847, #16b822);
$gradient-danger: (#eb7f7f, #da3838, #cc0c0c);
$gradient-warning: (#ffed92, #e1c229, #e1be0f);
$gradient-muted: (#d8d8d8, #a7a7a7, #8b8b8b);
$gradient-hover: (#27292b14, #24272b14, #06070814);

$border-radius: 0.3rem;

$box-shadow: 3px 3px 6px rgba(#0e2f46, 0.15);

//z-index
$toaster-index: 1000;
$dialog-index: 900;

$toast-types: (
  "primary": $primary-color,
  "success": $success-color,
  "danger": $danger-color,
  "warning": $warning-color,
  "loader": $primary-color,
);
