

$primary-color: #1492e6;
$danger-color: #e02929;
$warning-color: #eed03c;
$success-color: #1dbf29;
$muted-color: #585858;

$background-color: #ebeff3;

$primary-color-hsl: (210, 84, 49);
$danger-color-hsl: (0, 75, 52);
$warning-color-hsl: (50, 84, 58);
$success-color-hsl: (124, 74, 43);
$muted-color-hsl: (0, 84, 35);

$primary-font-color: #000;
$muted-font-color: #585858;

$card-color: #fff;

$gradient-primary: (#a6d3ff, #4393e0, #2278cb);
$gradient-success: (#9bffa2, #3cc847, #16b822);
$gradient-danger: (#eb7f7f, #da3838, #cc0c0c);
$gradient-warning: (#ffed92, #e1c229, #e1be0f);
$gradient-muted: (#d8d8d8, #a7a7a7, #8b8b8b);
$gradient-hover: (#27292b14, #24272b14, #06070814);

$border-radius: 0.3rem;

$box-shadow: 3px 3px 6px rgba(#0e2f46, 0.15);

//z-index
$toaster-index: 1000;
$dialog-index: 900;

$toast-types: (
  "primary": $primary-color,
  "success": $success-color,
  "danger": $danger-color,
  "warning": $warning-color,
  "loader": $primary-color,
);

$button-colors: (
  "primary": (
    $primary-color-hsl,
    $primary-color,
    #fff,
  ),
  "success": (
    $success-color-hsl,
    $success-color,
    #fff,
  ),
  "danger": (
    $danger-color-hsl,
    $danger-color,
    #fff,
  ),
  "warning": (
    $warning-color-hsl,
    $warning-color,
    #000,
  ),
  "muted": (
    $muted-color-hsl,
    $muted-color,
    #eee,
  ),
);


:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
    0.4px 0.5px 1px hsl(var(--shadow-color) / 0.1),
    1px 1.2px 2.3px hsl(var(--shadow-color) / 0.21);
  --shadow-elevation-medium:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
    0.9px 1.1px 2.1px hsl(var(--shadow-color) / 0.05),
    1.7px 2px 3.9px hsl(var(--shadow-color) / 0.11),
    2.9px 3.3px 6.6px hsl(var(--shadow-color) / 0.16),
    5px 5.8px 11.5px hsl(var(--shadow-color) / 0.21);
  --shadow-elevation-high:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
    2.4px 2.8px 5.5px hsl(var(--shadow-color) / 0.02),
    4.4px 5.1px 10.1px hsl(var(--shadow-color) / 0.05),
    6.3px 7.2px 14.4px hsl(var(--shadow-color) / 0.07),
    8.3px 9.6px 19px hsl(var(--shadow-color) / 0.1),
    10.8px 12.5px 24.8px hsl(var(--shadow-color) / 0.12),
    14px 16.1px 32px hsl(var(--shadow-color) / 0.15),
    18px 20.8px 41.3px hsl(var(--shadow-color) / 0.17),
    23.3px 26.9px 53.4px hsl(var(--shadow-color) / 0.2),
    29.9px 34.6px 68.6px hsl(var(--shadow-color) / 0.22);
}