@import "../../sytles/variables.scss";
@import "../../sytles/mixins.scss";

@mixin toast-color() {
  @each $key, $val in $toast-types {
    .ltb-toaster__toast {
      &__#{$key} {
        .ltb-toaster__toast__icon {
          @include flex-center;
          color: $val;
          svg {
            @include size(1.4rem);
          }
        }

        @if $key == "loader" {
          background-color: $primary-color;
          color: #fff;
          .ltb-toaster__toast__icon {
            color: #fff;
            svg {
              @include size(1.6rem);
            }
          }
        } @else {
          background-image: radial-gradient(
            ellipse 15% 100% at 0%,
            rgba($val, 0.5),
            rgba(#000, 0.1)
          );

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 1.5px;
            width: 100%;
            background-color: rgba($success-color, 1);
            animation: toast-progress 4000ms linear forwards;
            z-index: 1;

            @keyframes toast-progress {
              from {
                width: 100%;
                background-color: rgba($success-color, 1);
              }
              to {
                width: 0%;
                background-color: rgba($val, 1);
              }
            }
          }
        }
      }
    }
  }
}

@include toast-color();

.ltb-toaster {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: $toaster-index;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem;

  &__toast {
    padding: 0.2rem 0.5rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;

    position: relative;

    transform: translateY(100%);
    opacity: 0;
    animation: add-toast 0.2s linear forwards;
    @keyframes add-toast {
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    transition: all 0.2s linear;

    &__icon {
      svg {
        @include size(1.2rem);
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      &__title {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1;
      }
      &__description {
        font-size: 0.65rem;
      }
    }

    &__close {
      cursor: pointer;
      @include flex-center;
      padding: 0.5rem;
      border-radius: $border-radius;
      svg {
        display: inline-flex;
        @include size(0.5rem);
      }

      &:hover {
        background-color: rgba(#000, 0.05);
      }
    }
  }
}
